name: Demo Workflow

on:
  push:
    branches:
      - ci/setup-github-actions
  pull_request:
    branches:
      - main

jobs:
  demo_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        run: echo "Checking out repository..."
